---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$futura-font-path: "../fonts/futura";
$fa-font-path: "../fonts";
$source-code-font-path: "../fonts/source-code";

@import "../template/lily/css/lily.scss";
@import "syntax-highlighting";


body {
  background-color: #F7F7F7;
}

.header {
  background-color: #F1F1F1;
  height: 50px; line-height: 50px;
  .site {
    font-family: 'Futura-Condensed';
    font-size: 32px;
    color: #666;
    span.s1 {
      color: #999;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.sidebar {
  margin-top: 30px;
  margin-bottom: 30px;
  h3.site {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 40px;
    a{ color: #555; }
  }

  .category {
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
    &:after {
      content: "";
      display: block;
      background-color: #eee;
      height:3px;
      border-radius:100px;
      margin-top: 20px;
    }
    &:last-child {
      &:after {display:none;}
    }

    .name {
      font-weight: bold;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 40px;
    }
    .articles {
      .article {
        opacity: 0.5;
        &.reviewed {
          opacity: 1;
        }
      }
      .article a{
        display: block;
        color: #666;
        text-decoration: none;
        margin-bottom: 5px;
        &:hover {
          color: #4183c4;
        }
      }
      .article .subs {
        margin-left: 20px;
      }
    }
  }
}

.main {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #484848;
  line-height: 24px;

  h1 {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 40px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 40px;
  }
  h3, h4{
    margin-bottom: 20px;
    line-height: 40px;
    font-weight: bold;
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ul {
  }
}

.footer {
  margin-bottom: 100px;
}

.main {
  ol {
    counter-reset: li;
    > li {
      &:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        top:0;left:0;height:100%;width:30px;
        padding:0 10px 0 0 ;
        color: mix(lighten($area-info, 10%), #ccc, 60%);
        font-size: 22px;
        font-weight: bold;
        line-height: 34px;
        text-align: right;
        border-right: solid 1px #ddd;
      }
    }
  }

  ul {
    > li {
      &:before {
        content: "\f111";
        position: absolute;
        top:0;left:0;height:100%;width:30px;
        padding:0 10px 0 0 ;
        color: mix(lighten($area-info, 10%), #ccc, 60%);
        font-size: 10px;
        font-weight: bold;
        line-height: 34px;
        text-align: right;
        border-right: solid 1px #ddd;
        font-family: FontAwesome;
      }
    }
  }

  ol, ul {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin-bottom: 20px;

    li {
      padding: 5px 0 5px 55px;
      position: relative;
      margin-bottom: 5px;

      word-break: break-all;

      > ol, > ul {
        position: relative;
        top: 15px;
        margin-bottom: 10px;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  img {
    max-width: 100%;
    border:solid 1px #ddd;
    padding: 5px;
    box-sizing: border-box;
    background-color: #FFF;
  }
}

.main.github-account {
  ul {
    a.repo {
      display: block;
      margin-bottom: 10px;
    }
    p.desc {
      color: #666;
      max-width: 600px;
      line-height: 24px;
    }
  }

  a.see-github {
    display: block;
    margin-bottom: 20px;
    color: #999;
    position: relative;
    top: -20px;
    i {
      width:30px;
      padding-right: 10px;
      text-align: right;
    }
  }
}

.main.repo {
  a.see-github {
    display: block;
    margin-bottom: 20px;
    color: #999;
    position: relative;
    top: -20px;
    i {
      width:30px;
      padding-right: 10px;
      text-align: right;
    }
  }

  .repo-desc {
    padding: 15px;
    margin-top: -10px;
    margin-bottom: 15px;
    // background-color: #f2f7f9;
    background-color: #fafafa;
  }

  .baseinfo {
    background-color: #fafafa;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 30px;

    .info {
      @include clearfix;
      margin-bottom: 5px;
      .k {
        float: left;
        width: 150px;
        text-align: right;
        color: #999;
      }
      .v {
        float: left;
        .lang {
          color: darken(red, 15%);
          float: left;
          padding-left: 10px;
          padding-right: 10px;
          border-right: solid 1px #ddd;
          &:first-child {padding-left: 0;}
          &:last-child {border-right:0 none;}
        }
      }
    }
  }

  .skills {
    @include clearfix;
    .skill {
      float: left;
      border-right: solid 1px #ddd;
      padding:0 10px;
      color: darken(red, 15%);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: 0 none;
      }
    }
  }
}

.page-search {
  margin-top: 40px;
  padding-top: 40px;
  border-top:dashed 1px #ddd;
  .control {
    margin-bottom: 20px;
    input {
      max-width: 300px;
    }
  }
  .list {
    .entry {
      a {display:block;margin-bottom:5px;}
      .desc {color:#999;}
      margin-bottom: 20px;
    }
  }
}