<h1>
  <i class='fa fa-github'></i>
  <span>github.com/{{ page.title }}</span>
</h1>

<a class='see-github' href='https://github.com/{{ page.title }}' target='_blank'>
  <i class='fa fa-chevron-right'></i>
  <span>访问 github 页面</span>
</a>

<ul>
  {% assign repos = site.repos | where: 'account', page.title %}
  {% for repo in repos %}
    <li>
      <strong><a class='repo' href="{{ site.baseurl }}/repos/{{ repo.title | downcase | replace:'_','-' }}.html">{{ repo.title }}</a></strong>
      <p class='desc'>{{ repo.desc }}</p>
    </li>
  {% endfor %}
</ul>
