<h1>{{ page.type }}: {{ page.title }}</h1>

<a class='see-github' href='https://github.com/{{ page.account }}/{{ page.title }}' target='_blank'>
  <i class='fa fa-chevron-right'></i>
  <span>访问 github 页面</span>
</a>

<h4>基本信息</h4>

<div class='repo-desc'>{{ page.desc }}</div>

<div class='baseinfo'>
  <div class='info'>
    <div class='k'>创建时间：</div>
    <div class='v'>{{ page.created }}</div>
  </div>
  <div class='info'>
    <div class='k'>最后提交时间：</div>
    <div class='v'>{{ page.updated }}</div>
  </div>
  <div class='info'>
    <div class='k'>最新提交：</div>
    <div class='v'>
      <a href='https://github.com/{{ page.account }}/{{ page.title }}/commit/{{ page.last-commit }}' target='_blank'>{{ page.last-commit }}</a>
    </div>
  </div>
  <div class='info'>
    <div class='k'>工程类型：</div>
    <div class='v'>{{ page.type }}</div>
  </div>
  <div class='info'>
    <div class='k'>替代方案：</div>
    {% if page.alternative %}
      <div class='v'>{{ page.alternative }}</div>
    {% else %}
      <div class='v'>没有</div>
    {% endif %}
  </div>
  <div class='info'>
    <div class='k'>相关语言：</div>
    <div class='v'>
      {% for language in page.languages %}
        <span class='lang'>{{ language }}</span>
      {% endfor %}
    </div>
  </div>
</div>

<h4>隶属于下列产品线</h4>
<ul>
  {% if page.threads %}
    {% for thread in page.threads %}
      <li class='thread'>{{ thread }}</li>
    {% endfor %}
  {% else %}
    <li class='thread'>无</li>
  {% endif %}
</ul>

<h4>相关技能</h4>
<ul class='skills'>
  {% for skill in page.skills %}
    <li class='skill'>{{ skill }}</li>
  {% endfor %}
</ul>

<h4>设计用途</h4>
<p>
  {{ page.design-usage }}
</p>


{{ content }}