<h3 class='site'><a href='{{ site.baseurl }}/rnd'>研发资料</a></h3>

{% for account in site.data.github_accounts %}
  {% assign key = account[0] %}
  {% assign value = account[1] %}
  <div class='category'>
    <div class='name'>
      <h4><a href="{{ site.baseurl }}/github-accounts/{{ key | downcase | replace:' ','-' }}">{{ value.name }}</a></h4>
    </div>
    <div class='articles'>
      {% for repo in site.repos %}
        {% unless repo.parent %}
          {% if key == repo.account %}
            <div class='article'> 
              <a href="{{ site.baseurl }}/repos/{{ repo.title | replace:'_','-'}}.html">{{ repo.title }}</a>
            </div>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
{% endfor %}