$futura-font-path: "../../lily/fonts/futura";
$fa-font-path: "../../lily/fonts";

@import "../../lily/css/lily.scss";

body {
  background-color: #F7F7F7;
}

.header {
  background-color: #F1F1F1;
  height: 50px; line-height: 50px;
  .site {
    font-family: 'Futura-Condensed';
    font-size: 32px;
    color: #666;
    span.s1 {
      color: #999;
    }
  }
}

.sidebar {
  margin-top: 30px;
  margin-bottom: 30px;
  .category {
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
    &:after {
      content: "";
      display: block;
      background-color: #eee;
      height:3px;
      border-radius:100px;
      margin-top: 20px;
    }
    &:last-child {
      &:after {display:none;}
    }

    .name {
      font-weight: bold;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 40px;
    }
    .articles {
      .article a{
        display: block;
        color: #666;
        text-decoration: none;
        margin-bottom: 5px;
        &:hover {
          color: #4183c4;
        }
      }
      .article .subs {
        margin-left: 20px;
      }
    }
  }
}

.main {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #484848;

  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 40px;
  }
  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 40px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ul {
  }
}

.footer {
}